/* body{	
	font-family: "Nunito", sans-serif; 
} */
@font-face {
    font-family: 'weblysleek_uisemilight';
    src: url('weblysleekuisl-webfont.woff2') format('woff2'),
         url('weblysleekuisl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;	
	font-family: 'weblysleek_uisemilight', Arial, Helvetica, sans-serif;	
}

/*Side menu*/
.sidebar{
	position: fixed;
	width: 40vh;
	height: 100%;
	background: #C8E0FF;
	transition: 0.5s;
	overflow: hidden;
}

.sidebar ul li{
	position: relative;
    width: 100%;
    display: inline-block;
    text-align: left;
	line-height: 3vw;
}

.sidebar ul li a{
	position: relative;
    display: block;
    height: 100%;
    color: #5F6392;
    padding: 1% 10% 1% 20%;
    font-size: 1.3vw;
}

.sidebar img{
	border-style: none;
    width: 50%;
    margin: 15px auto;
    display: block;
}

ul li:hover a{
	padding-left: 50px;
	background: #7278B9;
	color: #CCA679;
	text-decoration: none;
	transition: 0.3s;
}

#logout{
	margin-top: 15%;
	color: #CCA679;
}

#logout:hover{
	color: maroon;
	background: none;
}

.sidebar ul li a i{
	text-align: center;
    margin-right: 15px;
}


/* Login Page */
.loginpage{
	background-color: #C8E0FF;
	margin-top: 5%;
}

.loginpage .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

	
/* FORM TYPOGRAPHY*/

.loginpage input[type=button], .loginpage input[type=submit], .loginpage input[type=reset]  {
  background-color: #7278B9;
  border: none;
  color: white;
  padding: 3.5% 12.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1vw;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loginpage input[type=button]:hover, .loginpage input[type=submit]:hover, .loginpage input[type=reset]:hover  {
  background-color: #CCA679;
  cursor: pointer;
}

.loginpage input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.loginpage input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;
  width: 80%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
	
.loginpage input[type=checkbox]{
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 1vw 2vw;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 21%;
}

.loginpage input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.loginpage input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}

*:focus {
    outline: none;
} 

.loginpage #icon {
	margin-top: 10%;
	width:40%;
}

/* Add residents page */
#add-residents, #create-admin, #display-chart, #generate_inv{
	background-color: #C8E0FF;
	color: #5F6392;	
	border-radius: 5px;
	padding: 1% 2%;
	text-decoration: none;
	font-size: 1.2vw;
	margin: 3px;
	cursor: pointer;
}

#add-residents:hover, #create-admin:hover{
	background: #7278B9;
	color: #CCA679;
	transition: 0.5s;
}

.display-chart-button{
	display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
	cursor: pointer;
}

.buttons{
	display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
}

/* Resident List , Payment Log, Visitor Log, Issue Report */
#resident-list, #payment-log, #visitor-log, #issue-report, #bookings{
	position: relative;
    width: 90%;
    margin: 0 auto !important;
}

th{
	font-size: 1vw;
	background-color: #C8E0FF!important;
}

td{
	font-size: 0.9vw;
	border-bottom: 1px solid #7278B9!important;
	
}

td input, td button{
	border: none;
}

.limit_slot input, .limit_slot input[type=number]{
	
	border-bottom: 1px solid #7278B9!important;
	border-radius: 5px;
	padding: 1%;
	color: black;
	background-color:white;
}

td input[type=number]{
	
	color: white;
	cursor: pointer;
}

td input{
	/* background-color: #28a745; */
	background-color: transparent;
	color: #28a745;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2vw;
}

td button{
	/* background-color: #dc3545; */
	background-color: transparent;
	color: red;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2vw;
}

/* Data Tables */
.dataTables_wrapper{
	height: 7vh;
}

.dataTables_paginate {	
	color: #cca679 !important;
	padding: 0 !important;
}

.dataTables_filter{
	text-align: left !important;
}

.dataTables_filter input{
	padding: 10px;
}

.dataTables_paginate .paginate_button{
	cursor: pointer;
    
}

.top{
	width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.dataTables_length{
	display: none;
}

/*Content*/
.content, .user-list{
	position: absolute;
	width: calc(100% - 40vh);
	left: 40vh;
	min-height: 100vh;
	background: #f2faff;
	transition: 0.5s;
}

.page-title{
	color: #CCA679;	
	width: 90%;
	margin: 10px auto;
	text-align: left;
}

#done-button, #create-button{
	background-color: #C8E0FF;
	color: #5F6392;
	border: none;
	border-radius: 5px;
	padding: 1% 2%;
}

#complete-button{
	background-color: #C8E0FF;
	color: #5F6392;
	font-weight: bold;
	border: none;
	border-radius: 5px;	
}

#done-button:hover{
	cursor: pointer;
} 

/*Update Bill Resident page*/
#update-button{
	position: fixed;	
	background-color: #C8E0FF;
	color: #5F6392;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 1% 2%;
	left: 75%;
	top: 20%;	
}

#update-button:hover{
	cursor: pointer;
}

#confirm-password{
	margin-bottom: 10%;
}

/* Create admin button */
.create-admin{
	background: white;
	z-index: 900;		
	position: relative;	
}

.create-admin h1{
	position: fixed;
	color: #CCA679;	
	top: 3%;
	left: 22%;
}

.create-admin form{
	position: fixed;
	top: 23%;
	left: 21%;
	width: 70%;
}

#create-button:hover{
	cursor: pointer; 
}

#create-button:focus{
	cursor: pointer; 
}

/* form elements */

.gender{
	border: 1px solid #495057;
	border-radius: 3.5px;
	padding: 1.8% 0.8%;
	width: 20%;
	text-align: center;
	background: white;
	color: #495057;
}

.gender:hover{
	cursor: pointer;
	color: #495057;
}

.gender[name="male"]{
	margin-left: 2%;
}

/* Live Chat */


#searchbar{
	color: #e3e3e3;
	margin: 1% 0 0 2%;
}

input[name="searchbar"]{
	padding: 0.3% 1.5%;
	margin: 1% 0 0 2%;
	border: 0.5px solid #e3e3e3;
	border-radius: 3%;
}

.container {
	background: #fff;
	padding: 0;
	border-radius: 44%;
}

.profile-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-left: 2vw;
	float: left;
}

.time{
	float: right;
    position: absolute;
    width: 90%;
    text-align: right;
}

.user-list-drawer{
	height: 11vh;
    display: flex;
    justify-content: flex-start;
}

.text{
	margin-left: 2%;
}

.text h6{
	margin: 0 auto;
	vertical-align: center;
}
    
.text p {
 	margin:  auto;
} 

/*Announcement php */
.content .announcement-success{
	display: flex;
	margin: 5% auto;
}

.content .announcement-sent{
	width: 90%;
	margin: 10px auto;
	color: #5F6392;
	text-align: center;
}

.content .announcement-text{
	width: 90%;
	margin: 10px auto;
	font-size: 1.8vw;
	color: maroon;
	text-align: center;
}

.content .redirect{
	width: 90%;
	margin: 10px auto;
	font-size: 1.5vw;
	color: #CCA679;
	text-align: center;
}

/* Announcement */
#submit_btn{
	background-color: #7278B9;
	color: white;
}

#submit_btn:hover{
	background-color: #CCA679;
}

/* Update bill */
/* .content img{
	position: fixed;
	top: 10%;
	left: 55%;
}

.content .bill-updated{
	top: 25%;
	left: 45%;
	color: #5F6392;
}

.content .bill-updated-text{
	left: 40%;
	top: 35%;
	font-size: 1.8vw;
	color: maroon;
}	 */

/*admin only features*/
#create-admin{
	display:none;
}

.btn-primary{
	background-color: #C8E0FF !important;
	color: #5F6392 !important;
	border: none !important;
	border-radius: 5px !important;
	font-family: 'Nunito', sans-serif !important;
	font-size: 1.2vw !important;
}

/*invoice*/
/*invoice*/
#confirm_bill{
	position: absolute;
    width: 200px;
    right: 0;
}





